:root {
  --celadon-green: #00887a;
  --melon: #ffccbc;
  --coral: #ff825c;
  --dead-coral: #ff825c33;
  --white: #ffffff;
  --periwinkle-crayola: #d3e3fc;
  --faded-periwinkle-crayola: #d3e3fc77;
  --dead-periwinkle-crayola: #d3e3fc33;
  --little-boy-blue: #77a6f7;
  --dead-little-boy-blue: #77a6f733;
  --rich-black-FOGRA-29: #001524;
  --light-rich-black-FOGRA-29: #001524dd;
  --faint-rich-black-FOGRA-29: #001524aa;
  --dead-rich-black-FOGRA-29: #00152433;
  --sinopia: #cc3000;

  --primary-text: var(--light-rich-black-FOGRA-29);
  --primary-background: var(--white);
  --alt-text: var(--white);
  --alt-background: var(--little-boy-blue);
  --primary-accent: var(--celadon-green);
  --alt-accent: var(--little-boy-blue);

  --default-border-radius: 0.375rem;
  --default-padding: 0.5rem;
}

html {
  height: 100%;
  font-size: 1rem;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: var(--primary-background);
  color: var(--primary-text);
  font-family: "Roboto Flex" !important;
  user-select: none;
  margin: 0;
}

* {
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  position: relative;
}

:focus-visible {
  outline: none;
}

.template {
  display: none !important;
}
